@model IEnumerable<coreProject.Models.Etudiant>
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="~/dist/css/index.css" type="stylesheet">
        <title>Document</title>
    </head>
    <body>
        <br><br>
        <a asp-action="Create" class="btn btn-primary">Create</a>
    <div class="panel panel-default">
        <br>
    <div class="panel-heading">
       Liste d'Etudiant
    </div>
    <br>
    <div class="panel-body"> 
<table class="table table-bordred">
    <thead>
      <tr>
           <td>codeCart</td>
           <td>nomEtudiant</td>
           <td>prenomEtudiant</td>
           <td>adresseEtudiant</td>
           <td>phoneEtudiant</td>
           <td>codeFiliere</td>
           <td style="width: 300px;">Methods</td>
      </tr>
      </thead>
      <tbody>
      @foreach (var item in Model)
      {
          <tr>
           <td>@Html.DisplayFor(ModelItem => item.codeCart)</td>
           <td>@Html.DisplayFor(ModelItem => item.nomEtudiant)</td>
           <td>@Html.DisplayFor(ModelItem => item.prenomEtudiant)</td>
           <td>@Html.DisplayFor(ModelItem => item.adresseEtudiant)</td>
           <td>@Html.DisplayFor(ModelItem => item.phoneEtudiant)</td>
           <td>@Html.DisplayFor(ModelItem => item.codeFiliere)</td>
           <td style="width: 300px;">
           <button class="btn btn-primary">@Html.ActionLink("Details" ,"Details" , new {item.codeCart})</button>
           <button class="btn btn-success">@Html.ActionLink("Edit" ,"Edit" , new {item.codeCart})</button>
           <button class="btn btn-danger">@Html.ActionLink("Delete" ,"Delete" , new {item.codeCart})</button>
           </td>
      </tr>
      }
      </tbody>
</table>
 </div>
 </div>
    </body>
    </html>
    